/* Conatiner pai */
.sobre__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 1rem;
}

/* Imgaem perfil
.sobre__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}
*/

/* Informações posicionamentos - Experiência Concluído e Suporte*/
.sobre__informacoes {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: 0.56rem;
}

.sobre__informacoes > :nth-child(n + 3) {
    grid-row: 2;
    width: 140px;
}

.sobre__informacoes > :nth-child(1),
.sobre__informacoes > :nth-child(1) {
    grid-column: 2 / span 1;
    width: 140px;
}

/* boxs de cada Experiência Concluído e Suporte*/
.sobre__box {
    background-color: var(--container-color);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.sobre__box:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Roman Number - Container pai Icone Romano - Estilos para o número romano dentro do círculo */
.sobre__roman-number {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 2px solid #757575;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
    color: var(--title-color);
    margin-bottom: 8px;
}
/* Roman Number - Icone Romano afeta os dois "-" "-" - Estilos para as linhas dentro do círculo*/
.sobre__roman-number::after,
.sobre__roman-number::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--title-color);
}

/* Roman Number - Icone Romano "-" after*/
.sobre__roman-number::after {
    top: 16px;
    width: 15px;
    height: 2px;
}

/* Roman Number - Icone Romano "-" before*/
.sobre__roman-number::before {
    top: 5px;
    width: 15px;
    height: 2px;
}

/* Box de Skill que estão com icones de hard skill perto do sobre mim*/
.sobre__skillSetBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: var(--container-color);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    margin-bottom: 0.7rem;
    cursor: pointer;
}
/* Cor da letra ao passar o mouse por cima - HTML - Css- JS */
.sobre__skillSetBox .html-icon:hover {
    color: #e34c26;
}

.sobre__skillSetBox .css-icon:hover {
    color: #1572b6;
}

.sobre__skillSetBox .javascript-icon:hover {
    color: #f7df1e;
}

.sobre__skillSetBox .vuejs-icon:hover {
    color: #4fc08d;
}

.sobre__skillSetBox .react-icon:hover {
    color: #61dafb;
}

.sobre__skillSetBox .bootstrap-icon:hover {
    color: #563d7c;
}

/* Box de Skill **ICONES  Skill Hards*** que estão com icones de hard skill perto do sobre mim*/
.sobre__iconskillSetBox {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-size: var(--tiny-font-size);
    margin-bottom: var(--mb-0-5);
}

.sobre__iconskillSetBox::before {
    font-size: 1.5rem; /* Tamanho do ícone */
}

/* Tamanho e cor dos icones Experiência Concluído e Suporte */
.sobre__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

/* Tmanho dos texto da box -1 Ano de conhecimento, 15 + Porjetos e On-line 24/7  */
.sobre__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

/* Sub titulo - Fonte*/
.sobre__subtitle {
    font-size: var(--tiny-font-size);
}

.sobre__data {
    margin-bottom: var(--mb-2);
}

.sobre__descricao {
    padding: 0 0.75rem 0 0;
    margin-bottom: 0.4rem;
    margin-top: -0.5rem;
}
/* ====================== Aquiiiiiii =====================*/
.icon-container {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--rectangle);
}

.buttonDowanload {
    display: inline-flex;
    align-items: center;
    background: #242836;
    color: var(--container-color);
    /* padding: 1.25rem 2rem; */
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    overflow: hidden;
}
/* Preencher o btn Dowanload */
.buttonDowanload:hover,
.buttonDowanload:hover .button-text,
.buttonDowanload:hover .icon-container,
.buttonDowanload:hover .button__iconCv {
    background-color: var(--title-color-dark);
    color: var(--arrow);
}

/* Cor do texto btn Download */
.button-text {
    margin: 0;
    padding: 16px 40px;
    list-style: none;
    text-align: center;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 16px;
    font-weight: 590;
    line-height: 28px;
    color: #fff;
    transition: opacity 0.2s ease;
}

/* Icone do Cv Download*/
.button__iconCv {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -10px;
    fill: none;
    z-index: 1;
    stroke-width: 1.4px;
    stroke: var(--arrow);
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*  */
.loading-background {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.loading-background .bx-download {
    font-size: 1.3rem;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -10px;
    fill: none;
    z-index: 1;
    stroke-width: 2px;
    color: var(--arrow);
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 4s ease;
}

.bx-check {
    font-size: 1.3rem;
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -10px;
    fill: none;
    z-index: 1;
    stroke-width: 2px;
    color: #4bc793;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: blink 1s infinite;
}

/*============================== Responsividade ==============================*/
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .sobre__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .sobre__box {
        padding: 0.75rem 0.5rem;
    }

    /* linhamento do container pai do boz e title e sub title */
    .sobre__data {
        text-align: center;
    }

    .sobre__informacoes {
        justify-content: center;
    }

    .sobre__descricao {
        padding: 0 5rem;
        margin-bottom: 2rem;
        margin-top: 0;
    }

    .sobre__skillSetBox {
        margin-bottom: 1rem;
    }
}

/* For medium devices */
@media screen and (max-width: 640px) {
    .sobre__informacoes {
        grid-template-columns: repeat(3, 1fr);
    }
    .sobre__informacoes {
        grid-template-columns: repeat(2, 1fr); /* 140px */
    }

    .sobre__informacoes > :nth-child(n + 3) {
        grid-row: unset;
        width: 100%; /* 140px */
    }

    /* Remover a restrição de grid-column */
    .sobre__informacoes > :nth-child(1),
    .sobre__informacoes > :nth-child(2) {
        grid-column: unset;
        width: 100%;
    }

    .sobre__descricao {
        padding: 0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .sobre__informacoes {
        grid-template-columns: repeat(2, 1fr);
    }
}
